.learn-more-container {
    min-height: 10vh;
    background: linear-gradient(to right, #e0f2f1, #b2dfdb, #80cbc4);
    padding: 1rem;
    padding-left: 1rem; 
    padding-right: 2rem; 
  }
  
  .learn-more-heading {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
    color: #374151; 
    margin-top: 2.5rem; 
    margin-bottom: 3rem;
    padding-top:40px; 
  }
  .learn-more-section {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    margin-bottom: 3rem; /* mb-12 */
  }
  
  /* Flex Items */
  .section-item {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* gap-8 */
  }
  
  .section-content {
    background-color: #ffffff; /* white */
    padding: 1rem; /* p-4 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    border-radius: 0.75rem; /* rounded-lg */
  }
  
  .section-title {
    font-size: 1.875rem; /* 3xl */
    font-weight: 600; /* font-semibold */
    color: #004d40; /* Teal 700 */
    margin-bottom: 1rem; /* mb-4 */
  }
  
  .section-text {
    color: #4b5563; /* Gray 700 */
    line-height: 1.6; /* leading-relaxed */
    margin-bottom: 1rem; /* mb-4 */
  }
  .section-text1 {
    color: #4b5563; /* Gray 700 */
    line-height: 1.6; /* leading-relaxed */
    margin-bottom: 1rem; 
    
  }
  .section-list {
    list-style-type: disc;
    padding-left: 3rem; /* list-inside */
    color: #4b5563; /* Gray 700 */
    margin-bottom: 1rem; /* mb-4 */
  }
  .section-list1 {
    list-style-type: disc; /* Keeps the bullet point */
    padding-left: 2rem; /* Adjust padding to control space for the disc */
    text-indent: -0.5rem; /* Move the text closer to the left */
    color: #4b5563; /* Gray 700 */
    margin-bottom: 1rem; /* mb-4 */
  }
  /* Button Styles */
  .learn-more-button {
    background-color: #00897b; /* Teal 600 */
    color: #ffffff; /* white */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .learn-more-button:hover {
    background-color: #00796b; /* Teal 700 */
  }
  
  /* Image Styles */
  .section-image {
    width: 50%;
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* shadow-lg */
    transition: transform 0.3s ease;
    padding-left: 30px;
  }
  
  .section-image:hover {
    transform: scale(1.05); /* hover:scale-105 */
  }
  
  /* Blockquote Styles */
  .blockquote {
    border-left: 4px solid #004d40; /* Teal 500 */
    padding-left: 1rem; /* pl-4 */
    color: #4b5563; /* Gray 700 */
    font-style: italic;
    margin-bottom: 1rem; /* mb-4 */
  }
  