@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0950d; /* Light mode background color */
  color: #000000; /* Light mode text color */
}

/* Dark Mode Styles */
body.dark {
  background-color: #05061f; /* Dark mode background color */
  color: #E68369; /* Dark mode text color */
}

/* Example for dark mode elements */
.dark .bg-gray-800 {
  background-color: #05061f; /* Dark mode background color for elements */
}

.dark .text-white {
  color: #E68369; /* Dark mode text color */
}

.dark .text-black {
  color: #000000; /* Dark mode text color */
}

.dark .border-gray-800 {
  border-color: #31336b; /* Dark mode border color */
}

.dark .bg-black {
  background-color: #05061f; /* Dark mode background color for elements */
}

.dark .text-blue-500 {
  color: #31336b; /* Dark mode link color */
}

.dark .hover\:text-blue-600:hover {
  color: #31336b; /* Dark mode link hover color */
}

/* Ensure that Tailwind's base styles don't conflict with your custom styles */
@layer base {
  /* Dark mode styles for specific elements */
  .dark .bg-gray-800 {
    background-color: #05061f;
  }

  .dark .text-white {
    color: #E68369;
  }

  .dark .text-black {
    color: #000000;
  }

  .dark .border-gray-800 {
    border-color: #31336b;
  }

  /* Example dark mode background colors */
  .dark .bg-gray-900 {
    background-color: #1F1F1F;
  }

  .dark .bg-gray-700 {
    background-color: #5b1cee;
  }

  /* Dark mode color utilities */
  .dark .text-gray-100 {
    color: #322c8c;
  }

  .dark .text-gray-300 {
    color: #642d9a;
  }

  .dark .text-gray-500 {
    color: #480ba3;
  }

  /* Dark mode transition styles */
  .transition-all {
    transition: all 0.3s ease;
  }
}
